* {
  box-sizing: border-box;
}

.container {
  margin-left: 10px;
  width: 640px;
  background-color: #b296e9;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 10px;
}

h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 64px;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-size: 26px;
  background-color: #a67ef8;
  padding: 0 10px;
  text-align: center;
}

input {
  padding: 2px 0;
  margin-left: 8px;
  width: 360px;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
}

li{
  margin-left: 14px;
  transition: opacity 0.3s ease;
}

button{
  font-size: 18px;
  font-weight: 700;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover{
  background-color: #45a049;
  cursor: pointer;
}

#reset {
  background-color: #f73117;
}

#reset:hover {
  background-color: #c03927;  
}


#lista-tarefas {
    background-color: rgb(131, 160, 160);
    font-size: 28px;
    font-family: 'Handlee', cursive;
    border-radius: 10px;
}

.concluida {
  text-decoration: line-through;
  opacity: 0.5;
}

